/* src/app/header/header.component.css */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Evenly space icons vertically */
  align-items: center;
  width: 340px; /* Adjust the width as needed */
  height: 100vh;
  background-color: white;
  border-right: 1px solid #dbdbdb;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
}

.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
/* justify-content: space-between; */
}

.header-nav a {
  display: flex;
  align-items: center;
  color: #262626;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.header-nav a i {
  margin-right: 10px;
}

.header-nav a:hover {
  color: #000;
}

.header-nav .profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
